.develo-slider-item
{
	padding: 10px;
	max-width: none;
}

.slider-demo
{
	margin-bottom: 20px;
}

.slider-demo li.slider-item
{
	list-style: none;
}

#slider-two
{
	color: #dce9ff;
}

#slider-three
{
	color: #000;
}

/* Slider four */
#slider-four-container
{
	height: 240px;
	margin: 0 auto;
	width: 480px;
}

#slider-four-container .slider-item
{
	padding: 0;
	width: 480px;
}