.develo-slider {
  position: relative; }
  .develo-slider .develo-slider-viewport {
    position: relative;
    overflow: hidden;
    width: 100%; }
  .develo-slider .develo-slider-control {
    font-size: 20px;
    line-height: 16px;
    position: absolute;
    top: calc(50% - 10px );
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #555555;
    color: #555555;
    width: 20px;
    height: 20px; }
    .develo-slider .develo-slider-control.next {
      right: 10px; }
    .develo-slider .develo-slider-control.previous {
      left: 10px; }
    .develo-slider .develo-slider-control:hover {
      cursor: pointer;
      text-decoration: none; }
    .develo-slider .develo-slider-control.white {
      border: 2px solid white;
      color: white; }
    .develo-slider .develo-slider-control.red {
      border: 2px solid #9d261d;
      color: #9d261d; }
    .develo-slider .develo-slider-control.blue {
      border: 2px solid #049cdb;
      color: #049cdb; }
    .develo-slider .develo-slider-control.black {
      border: 2px solid black;
      color: black; }
  .develo-slider.display-controls-on-hover .develo-slider-control {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s; }
  .develo-slider.display-controls-on-hover:hover .develo-slider-control {
    opacity: 1;
    visibility: visible; }
  .develo-slider.hide-controls .develo-slider-control {
    opacity: 0;
    visibility: hidden; }
  .develo-slider.blue {
    background: #049cdb; }
  .develo-slider.red {
    background: #9d261d; }

.develo-slider-container {
  width: 9999px;
  -webkit-transition: 0.5s margin-left;
  -moz-transition: 0.5s margin-left;
  -o-transition: 0.5s margin-left;
  transition: 0.5s margin-left; }

.develo-slider-item {
  float: left; }
